In [ ]:
# DONE - att summera varje rad i en 2D-lista

l = [[1,2,3,4,5],
     [6,7,8,9,10],
     [11,12,13,14,15],
     [16,17,18,19,20],
     [21,22,23,24,25]]
ls = [sum(x) for x in l]
print(ls)

In [ ]:
# En längre variant av att summera varje rad i en 2D-lista

v = [[1,2,3,4,5],
     [6,7,8,9,10],
     [11,12,13,14,15],
     [16,17,18,19,20],
     [21,22,23,24,25]]
vs = []
for row in v:
    total = 0
    for item in row:
        total += item
    vs.append(total)
print(vs)

In [ ]:
# Gör om en 2D-lista från string/integer till float. 

v = [['1','2','3','4','5'],
     ['6','7','8','9','10'],
     ['11','12','13','14','15'],
     ['16','17','18','19','20'],
     ['21','22','23','24','25']]
for a in range(len(v)):
    for b in range(len(v)):
        v[a][b] = float(v[a][b])
print(v)

In [ ]:
# Gör om en 2D-lista från string/integer till float. 

v = [['1','2','3','4','5'],
     ['6','7','8','9','10'],
     ['11','12','13','14','15'],
     ['16','17','18','19','20'],
     ['21','22','23','24','25']]

for inner in v:
    for index, string in enumerate(inner):
        inner[index] = float(string)
print(v)

In [ ]:
# Gör om en 2D-lista med både siffror och bokstäver till en ny lista som innehåller både floats och strings

def string_list_to_float(input_list):
    float_list = []
    for sublist in input_list:
        float_sublist = []
        for string in sublist:
            try:
                float_sublist.append(float(string))
            except ValueError:
                float_sublist.append(string)
        float_list.append(float_sublist)
    return float_list

string_list = [['år', 'jan', 'feb', 'mar'],
               [1981, 12, 23, 34],
               [1982, 45, 56, 67]]
float_list = string_list_to_float(string_list)
print(float_list)

In [1]:
# Plocka ut vissa element med hjälp av for-sats och indexering. 

lista = [['år', 'jan', 'feb', 'mar'],
         [1981, 12, 23, 34],
         [1982, 45, 56, 67]]
arTal = []
for i in range(1, len(lista)):
    for j in range(0, 1):
        arTal.append(lista[i][j])
print(arTal)

[1981, 1982]

In [ ]:
# Ta bort vissa element med hjälp av en for-sats

lista = [['år', 'jan', 'feb', 'mar'],
         [1981, 12, 23, 34],
         [1982, 45, 56, 67], 
         [1983, 78, 89, 90]]
for i in range(1, len(lista)):
         for j in range(0, 1):
             del (lista[i][j])
print(lista)

In [ ]:
# Exempel på en tabell

titel = 'Säljstatistik för skruv, mutter, och brickor år 2021'
print(f'{titel:^100}')

str_1 = '===================================================='
print(f'{str_1:^100}')

print(f'{"Produkt":<20}{"Q1":>15}{"Q2":>15}{"Q3":>15}{"Q4":>15}{"Summa":>15}')

print('-------------------------------------------------------------------------------------------------')

# Antal försålda skruvar per kvartal:
Q1_s = 20000
Q2_s = 32000
Q3_s = 23000
Q4_s = 19000
print(f'{"Skruv M6":<20}{Q1_s:>15}{Q2_s:>15}{Q3_s:>15}{Q4_s:>15}{Q1_s + Q2_s + Q3_s + Q4_s:>15}')
      
Q1_m = 21900
Q2_m = 27700
Q3_m = 32200
Q4_m = 35800
print(f'{"Mutter M6":<20}{Q1_m:>15}{Q2_m:>15}{Q3_m:>15}{Q4_m:>15}{Q1_m + Q2_m + Q3_m + Q4_m:>15}')

Q1_b = 21900
Q2_b = 27700
Q3_b = 32200
Q4_b = 35800
print(f'{"Bricka M6":<20}{Q1_b:>15}{Q2_b:>15}{Q3_b:>15}{Q4_b:>15}{Q1_b + Q2_b + Q3_b + Q4_b:>15}')